[settings]
SETTINGS_VERSION = Example Basic Erasure (BE)

DH_TOKEN = <token>
DH_URL = <host>

SNAPSHOTS_PATH = /mnt
LOGS_PATH = /mnt

TESTS = True

SANITIZE = True
ERASE_METHOD = BASIC
ERASE_CONFIRMATION = False
